{% extends "app/base.html" %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="list-group">
                    {% for title in titles %}
                        <a href="" class="list-group-item list-group-item-action" aria-current="true">
                            {{ title.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    {% if products %}
                        {% for product in products %}
                            <div class="col-md-4 text-center mb-4">
                                <a href="{% url 'product-detail' product.id %}" class="btn">
                                    <div>
                                        <img src="{{ product.product_image.url }}" width="300px" height="200px" />
                                        <div class="fw-bold">{{ product.title }}</div>
                                        <div class="fw-bold text-danger">
                                            Rs.{{ product.discounted_price }}/-
                                            <small class="fw-light text-decoration-line-through">{{ product.selling_price }}</small>
                    
                                        </div>
                                    
                                        
                                    </div>
                                </a>
                                <div>
                                    <a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-primary">Add to Wishlist</a>
                                </div>
                            </div>
                        {% endfor %}

                    {% else %}
                        <h1>No Products is available.</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}